# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
*.env

# Django stuff
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.idea/
*.swp

# Migrations (optional: keep if you want to track them)
**/migrations/*.pyc
**/migrations/__pycache__/